<section id="recommendations">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Recommendations</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="col-md-8 col-md-offset-2">
          <p class="lead">
            <blockquote>"@Message"</blockquote>
            <a href="#">@Yourname</a> - Work with Fellipe Azambuja at @Company
          </p>
        </div>
      </div>
    </div>
  </div>
</section>