<section id="recommendations">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Recommendations</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="col-md-8 col-md-offset-2">
          <p class="lead">
            <blockquote>Felipe is really a cool guy to work with. Always available to help and teach anyone any thing. He is an awesome skilled
            frontend developer with great experience in HTML, CSS, JavaScript, css pre-processors, always bring new fresh
            things and ideas to our projects. Commitment with schedules and high sense of responsibility makes him a great co-worker.</blockquote>
            <a href="http://twitter.com/@raymonsanches">Ramon Sanches (@raymonsanches)</a> - Work with Fellipe Azambuja at Guia-se && DevNaEstrada
          </p>
          <p class="lead">
            <blockquote>Felipe is a great person to work. Dedicated, hard working, focused and dive right in project. Great knowledge in HTML5, Javascript and CSS. He mentoring us about organize css code when we worked together with excellence. I recommend the work of this guys.</blockquote>
            <a href="https://github.com/Xhamps">Raphael Araujo (@xhamps)</a> - Work with Fellipe Azambuja at Medicinia
          </p>
          <p class="lead">
            <blockquote>Working with Fellipe at Medicinia it was great. I could see the construction of a styleguide using cool technologies as Grunt, Styledown, Sass, Scsslint, and some others good tools that helping us to build a documentation for our components. I recomend Fellipe by your dedicated work, great skills and your determination to bring us for new ways of make a better job.</blockquote>
            <a href="https://twitter.com/eduardojmatos">Eduardo Matos (@eduardojmatos)</a> - Work with Fellipe Azambuja at Medicinia
          </p>
          <p class="lead">
            <blockquote>
              I could say so much about all his skills regarding front-end, but I'd like to say that Fellipe is that guy you need to have on your team.
              Every good team relies not only on great professionals, but also in great people, because... no matter how awesome is your team technically speaking, you always have to deal with people.
              Fellipe is not only an excellent front-end developer, he's a great man.
              Worked, flawless, on one of the biggest e-commerce in the world.
            </blockquote>
            <a href="https://github.com/javiani">Eduardo Ottaviani (@javiani)</a> - Worked with Fellipe Azambuja at F.biz on Netshoes e-commerce project
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
