<section id="work">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Work Experience</h2>
        <h3 class="section-subheading text-muted">Best companies that I worked</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/companies/medicinia.png" alt="Medicinia" />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2015</h4>
                <h4 class="subheading">Medicinia</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  I work in a good styleguide project, main site and hybrid application
                </p>
                <p class="text-muted">
                  <em>Senior Front-end Developer</em>
                </p>
                <p class="text-muted">
                  <em><a href="http://www.medicinia.com.br" target="_blank">Visit Medicinia</a></em>
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/companies/fbiz.jpg" alt="F.biz">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2010-2015</h4>
                <h4 class="subheading">F.biz (WPP Agency)</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  I worked with many projects, hotsites, facebook pages and 2 big clients, Netshoes and Multiplus
                </p>
                <p class="text-muted">
                  <em>Senior Front-end Developer</em>
                </p>
                <p class="text-muted">
                  <em><a href="http://www.fbiz.com.br" target="_blank">Visit F.biz</a></em>
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/companies/loadcom.jpg" alt="Loadcom">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2010</h4>
                <h4 class="subheading">Loadcom</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  I worked building web sites with Drupal CMS
                </p>
                <p class="text-muted">
                  <em>Front-end Developer</em>
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/companies/buscape.jpg" alt="buscapé">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2009</h4>
                <h4 class="subheading">buscapé</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  I worked in the main product buscapé in a team with 4 front-end, I got an experience with Scrum methodology and work in a big company
                </p>
                <p class="text-muted">
                  <em>Front-end Developer</em>
                </p>
                <p class="text-muted">
                  <em><a href="http://www.buscape.com.br" target="_blank">Visit buscapé</a></em>
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/companies/uol.jpg" alt="Universo Online">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2009</h4>
                <h4 class="subheading">Universo Online (UOL)</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  I worked building e-mail marketings, flash banners and hotsite with Flash.
                </p>
                <p class="text-muted">
                  <em>Web Designer</em>
                </p>
                <p class="text-muted">
                  <em><a href="http://www.uol.com.br" target="_blank">Visit Universo Online (UOL)</a></em>
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/companies/freelancer.jpg" alt="Freelancer">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2008</h4>
                <h4 class="subheading">Freelancer</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  I worked building websites, hotsites, designing, developing at all.
                </p>
                <p class="text-muted">
                  <em>Web Designer</em>
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/companies/guiase.jpg" alt="Guia-se WebDesign">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2004</h4>
                <h4 class="subheading">Guia-se WebDesign</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  I worked with designing websites, building systems with php, flash banners
                </p>
                <p class="text-muted">
                  <em>Web Designer</em>
                </p>
                <p class="text-muted">
                  <em><a href="http://www.guiase.com.br" target="_blank">Visit Guia-se</a></em>
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>