.page-content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.home__name,
.home__role,
.home__skills {
  color: #aaa;
  font-size: $base-font-size * 2;

  .change {
    color: #fff;
  }
}